.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style : normal;
  font-variation-settings: 
  "wdth" 300;
}


body{
     margin-left: 10px;
     background-color: aqua;
}

header{
     background-color: rgb(0, 149, 255);
}
.hover:hover{
     transform:scale(1.02)

}

.progress {
  border-radius: 10px; 
  width: 50%;
  height: 15px;
  margin-left: 0px;
  box-shadow: 1px 1px 4px rgb(33, 32, 32);
}
progress::-webkit-progress-bar {
  background-color: rgba(123, 120, 120, 0.803);
  border-radius: 10px;
  
}
progress::-webkit-progress-value {
     background-color: rgb(0, 128, 255);
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
  
}
